/**
 *  CARD
 *
 *  Markup:
 *  -------
 *
 *  <div class="card">
 *    <h5 class="card__headline">[...]</h5>
 *    [...]
 *    <footer class="card__footer">[...]</footer>
 *  </div>
 *
 */

.card {
	background-color: $bgc-card;
	border: $bd-medium;
	border-radius: $bdr-base;
	box-shadow: $box-shadow-card;
	margin-bottom: $spacing-base;

	&__headline {
		border-bottom: $bd-medium;
		font-family: "proxima-nova", Arial, Helvetica, sans-serif;
		font-size: $fz-base;
		font-weight: $fw-bold;
		line-height: 1.2;
		padding: 16px;
	}

	&__footer {
		font-size: $fz-small;
		font-weight: $fw-bold;
		padding: $spacing-small;
		text-align: center;
	}
}
