/**
 *  CARD
 *
 *  Markup:
 *  -------
 *
 *  <div class="card">
 *    <h5 class="card__headline">[...]</h5>
 *    [...]
 *    <footer class="card__footer">[...]</footer>
 *  </div>
 *
 */

.card {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.12);
  border-radius: $bdr-base;
  background-color: $bgc-card;
  border: $bd-medium;
  margin-bottom: $spacing-base;

  &__headline {
    font-family: "proxima-nova", Arial, Helvetica, sans-serif;
    font-size: $fz-base;
    font-weight: $fw-bold;
    line-height: 1.2;
    padding: 16px;
    border-bottom: $bd-medium;
  }

  &__footer {
    text-align: center;
    font-size: $fz-small;
    font-weight: $fw-bold;
    padding: $spacing-small;
  }
}
