// sass-lint:disable class-name-format
.Dropdown {
	&-root {
		display: inline-block;
		position: relative;
	}

	&-control {
		background-color: $c-white;
		border: 1px solid $c-gray-x-light;
		border-radius: 2px;
		box-sizing: border-box;
		color: $c-gray-x-dark;
		cursor: default;
		display: inline-block;
		outline: none;
		overflow: hidden;
		padding: $spacing-xsmall $spacing-huge $spacing-xsmall $spacing-small;
		position: relative;
		transition: all 200ms ease;

		&:hover {
			box-shadow: 0 1px 0 $c-black-06;
		}
	}

	&-arrow {
		@include position(absolute, $spacing-small $spacing-small null null);
		@include size(0);
		border-color: $c-gray transparent transparent;
		border-style: solid;
		border-width: 5px 5px 0;
		content: "";
		display: block;
		margin-top: -ceil(2.5);

		.is-open & {
			border-color: transparent transparent $c-gray;
			border-width: 0 5px 5px;
		}
	}

	&-menu {
		background-color: $c-white;
		border: 1px solid $c-gray-x-light;
		box-shadow: 0 1px 0 $c-black-06;
		box-sizing: border-box;
		margin-top: -1px;
		max-height: 200px;
		overflow-y: auto;
		position: absolute;
		top: 100%;
		width: 100%;
		z-index: 1000;

		.Dropdown-group {
			>.Dropdown-title {
				@include padding($spacing-small $spacing-xsmall);
				color: $c-gray-x-dark;
				font-weight: bold;
				text-transform: capitalize;
			}
		}
	}

	&-option {
		@include padding($spacing-small $spacing-xsmall);
		box-sizing: border-box;
		color: $c-dark-85;
		cursor: pointer;
		display: block;

		&:last-child {
			border-bottom-left-radius: 2px;
			border-bottom-right-radius: 2px;
		}

		&:hover,
		&.is-selected {
			background: $c-white;
			background-image: linear-gradient($c-light-30, $c-light-30);
			color: $c-dark;
		}
	}

	&-noresults {
		@include padding($spacing-small $spacing-xsmall);
		box-sizing: border-box;
		color: $c-gray-x-light;
		cursor: default;
		display: block;
	}
}
