.bio {
  @include grid-container;
  position: relative;
  overflow: hidden;
  z-index: 5;
  min-height: 246px;
  display: block;
  background-color: pink;

  &__branding {
    @include size(100%);
    @include position(absolute, 0 null null 0);
    background-color: #C71414;

    &--teamBranding {
      @include size(253.3px, 226.5px);
      @include position(absolute, -80px null null -110px);
      transform: rotate(-45deg);
      z-index: 1;
    }

    &--team {
      position: relative;
      padding-top: 115px;
      margin-bottom: 3px;
    }

    &--stripe {
      height: 70px;
      background-color: #E68217;

      &-offset {
        @include size(100%, 3px);
        @include position(absolute, null null 2px null);
        background-color: #C71414;

        &__top {
          @include size(100%);
          @include position(absolute, null null 60px null);
          background: -webkit-linear-gradient(bottom, #C71414 0px, #C71414 3px, #E68217 3px, #E68217 5px, #C71414 5px);
        }
      }
    }

    img {
      @include position(absolute, 85px null -10px 45px);
      height: 184px;
      transform: rotate(45deg);
      max-width: none;
      vertical-align: baseline;
    }
  }

  &__headshot {
    height: 187px;
    margin-left: 18px;
    position: absolute;
    bottom: 0;
    z-index: 1;

    img {
      height: 187px;
    }
  }

  &__info {
    color: #fff;
    display: block;
    margin-left: 185px;
    padding-top: 22px;

    h2 {
      font-size: 28px;
    }
  }
}
