.header-team {
  @include padding($spacing-base null null null);
  color: rgba(0, 0, 0, 0.87);
  background-color: #f5f5f5;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: $spacing-huge;

  .row {
    position: relative;
  }

  .team {
    @include grid-column(8);

    &__logo {
      display: inline-block;
      height: 64px;
      vertical-align: top;
    }

    &__name {
      font-size: 28px;
      line-height: 64px;
      display: inline-block;
      margin-left: $spacing-small;
      font-weight: 600;
      text-transform: uppercase;

      &--city {
        color: initial;
        font-weight: 300;
      }
    }

    &__social {
      position: absolute;
      bottom: $spacing-small;
      right: $grid-gutter-width;
      display: block;
      height: 32px;
      margin-bottom: 0;

      &--item {
        display: inline-block;
        margin-left: 12px;
        margin-bottom: 0;


        a {
          padding: 0 !important;
          display: block;
        }

        svg {
          color: inherit;
          display: block;
          height: 32px;
        }
      }
    }

    &__teams-dropdown {
      @include position(absolute, 14px $grid-gutter-width null null);
    }

    &__nav {
      @include grid-column(12);

      ul {
        display: block;
        margin-bottom: 0;
        line-height: 1;

        li {
          display: inline-block;
          margin-bottom: 0;
          // color: #3e3e3c;
          position: relative;
          margin-bottom: 0;

          a {
            @include padding(null 16px);
            cursor: pointer;
            color: rgba($c-dark, .6);
            display: block;
            font-size: 14px;
            height: $spacing-huge;
            line-height: $spacing-huge;
            transition: color 200ms ease-out;
            text-decoration: none;
            text-overflow: ellipsis;
            white-space: nowrap;
            z-index: 1;

            &:hover {
              color: rgba($c-dark, 0.95);
            }

            &::after {
              display: block;
              content: '';
              bottom: 0;
              left: 0;
              right: 0;
              height: 0;
              position: absolute;
            }

            &.active {
              color: $c-dark;
              font-weight: 600;

              &::after {
                background-color: #1589ee;
                height: 3px;
              }
            }
          }
        }
      }
    }
  }
}
