.header-team {
	@include padding($spacing-base null null null);
	background-color: $c-light;
	box-shadow: 0 2px 4px -1px $c-black-20, 0 4px 5px 0 $c-black-14, 0 1px 10px 0 $c-black-12;
	color: $c-black-87;
	margin-bottom: $spacing-huge;

	.row {
		position: relative;
	}

	.team {
		@include grid-column(8);

		&__logo {
			display: inline-block;
			height: 64px;
			vertical-align: top;
		}

		&__name {
			display: inline-block;
			font-size: 28px;
			font-weight: 600;
			line-height: 64px;
			margin-left: $spacing-small;
			text-transform: uppercase;

			&--city {
				color: initial;
				font-weight: 300;
			}
		}

		&__social {
			bottom: $spacing-small;
			display: block;
			height: 32px;
			margin-bottom: 0;
			position: absolute;
			right: $grid-gutter-width;

			&--item {
				display: inline-block;
				margin-bottom: 0;
				margin-left: 12px;

				a {
					display: block;
					padding: 0 !important;
				}

				svg {
					color: inherit;
					display: block;
					height: 32px;
				}
			}
		}

		&__teams-dropdown {
			@include position(absolute, 14px $grid-gutter-width null null);
		}

		&__nav {
			@include grid-column(12);

			ul {
				display: block;
				line-height: 1;
				margin-bottom: 0;

				li {
					display: inline-block;
					margin-bottom: 0;
					position: relative;

					a {
						@include padding(null 16px);
						color: $c-dark-60;
						cursor: pointer;
						display: block;
						font-size: 14px;
						height: $spacing-huge;
						line-height: $spacing-huge;
						text-decoration: none;
						text-overflow: ellipsis;
						transition: color 200ms ease-out;
						white-space: nowrap;
						z-index: 1;

						&:hover {
							color: $c-dark-95;
						}

						&::after {
							@include position(absolute, null 0 0 0);
							content: "";
							display: block;
						}

						&.active {
							color: $c-dark;
							font-weight: 600;

							&::after {
								background-color: $bada55;
								height: 3px;
							}
						}
					}
				}
			}
		}
	}
}
