/**
 *  LOADING BAR
 *
 *  Markup:
 *  ---------
 *  <div class="loading-bar"></div>
 *
 */

.loading-bar {
	@include size(100%, $h-loading-bar);
	@include position(fixed, 0 0 null 0);
	overflow: hidden;
	z-index: $z-loading-bar;

	&::before {
		@include size($w-loading-bar, $h-loading-bar);
		@include position(absolute, null null null (-$w-loading-bar));
		animation: loading 2s linear infinite;
		background-color: $c-primary;
		content: "";
		display: block;
	}
}

@keyframes loading {
	from {
		left: -$w-loading-bar;
		width: 30%;
	}

	50% {
		width: 30%;
	}

	70% {
		width: 70%;
	}

	80% {
		left: 50%;
	}

	95% {
		left: 120%;
	}

	to {
		left: 100%;
	}
}
