@media screen and (min-width: 1024px) {
	.dropdown {
		&__button {
			position: relative;
		}

		&__content {
			background: $c-white;
			box-shadow: 0 2px 24px 0 $c-black-09;
			color: $c-black;
			min-width: 650px;
			position: absolute;
			top: 100%;
			z-index: 99;

			.col-sm-4 {
				font-size: 14px;
				margin-bottom: 6px;
				margin-top: 6px;
			}

			h6 {
				color: $c-gray-dark;
				font-weight: $fw-bold;
				text-transform: $tt-button;
			}

			nav {
				padding-bottom: 3px;
				padding-top: 3px;

				>a {
					color: $c-gray-medium;
					padding-bottom: 3px;
					padding-top: 3px;

					>img {
						@include size(24px);
						margin-right: 6px;
					}

					>* {
						vertical-align: middle;
					}
				}
			}
		}
	}
}

.team-city {
	display: none;

	@media screen and (min-width: 1024px) {
		display: inline;
	}
}
