@media screen and (min-width: 1024px) {

  .dropdown__button {
    position: relative;
  }

  .dropdown__content {
    min-width: 650px;
    position: absolute;
    top: 100%;
    background: white;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, .09);
    z-index: 99;
    color: black;

    .col-sm-4 {
      margin-top: 6px;
      margin-bottom: 6px;
      font-size: 14px;
    }

    h6 {
      color: #48494a;
      // font-size: $fz-small;
      font-weight: $fw-bold;
      text-transform: $tt-button;
    }

    nav {
      padding-top: 3px;
      padding-bottom: 3px;

      >a {
        color: #6c6d6f;
        padding-top: 3px;
        padding-bottom: 3px;

        >img {
          height: 24px;
          width: 24px;
          margin-right: 6px;
        }

        >* {
          vertical-align: middle;
        }
      }
    }
  }
}
