/**
 *  TABLE
 *
 *  Markup:
 *  -------
 *
 *  <table class="table">
 *    <tr>
 *      <th>First column</th>
 *      <th>Second column</th>
 *      <th>Third column</th>
 *    </tr>
 *    <tr>
 *      <td="First column">Blue</td>
 *      <td="Second column">One</td>
 *      <td="Third column">My life fades</td>
 *    </tr>
 *  </table>
 *
 */


.table {
	border-collapse: collapse;
	color: $c-table-text;
	max-width: $mwi-table;
	width: $w-table;

	&--border {
		background-color: $bgc-table;
		border: $bd-table;
	}

	th,
	td {
		border-bottom: $bd-table;
		padding: $p-table-cell;
		position: relative;
	}

	thead {
		border-bottom: $bd-table;

		th {
			font-size: $fz-small;
			font-weight: $fw-bold;
			text-transform: uppercase;
		}
	}

	th {
		background-color: $bgc-table-header;
		// color: $c-table-heading;
		color: $c-dark-85;
		font-size: $fz-table-heading;
		font-weight: $fw-table-heading;
		padding: $p-table-heading;
		white-space: nowrap;
	}
}

/**
 *  TABLE RESPONSIVE
 *
 *  Markup:
 *  -------
 *
 *  <table class="table table--responsive">
 *    <tr>
 *      <th>First column</th>
 *      <th>Second column</th>
 *      <th>Third column</th>
 *    </tr>
 *    <tr>
 *      <td data-th="First column">Blue</td>
 *      <td data-th="Second column">One</td>
 *      <td data-th="Third column">My life fades</td>
 *    </tr>
 *    <tr>
 *      <td data-th="First column">Green</td>
 *      <td data-th="Second column">Two</td>
 *      <td data-th="Third column">
 *        when the world was powered by the black fuel... and the desert
 *        sprouted great cities of pipe and steel.
 *      </td>
 *    </tr>
 *    <tr>
 *      <td data-th="First column">Yellow</td>
 *      <td data-th="Second column">Three</td>
 *      <td data-th="Third column">
 *        A whirlwind of looting, a firestorm of fear.
 *      </td>
 *    </tr>
 *  </table>
 *
 */

.table--responsive {

	th {
		display: none;
	}

	td {
		display: block;

		@include media-breakpoint-down(sm) {
			border: 0;

		}

		&::before {
			color: $c-table-heading;
			content: attr(data-th)": ";
			display: block;
			font-weight: normal;

			@include media-breakpoint-up(sm) {
				display: none;
			}
		}

		&:first-child {
			border-top: $bd-table;
		}
	}

	th,
	td {
		text-align: left;

		@include media-breakpoint-up(sm) {
			border-top: $bd-table;
			display: table-cell;
		}
	}
}


/**
 *  TABLE STANDINGS
 *
 *  Markup:
 *  -------
 *
 *  <table class="table table--standings">
 *    <tr>
 *      <th>{division}</th>
 *      <th>W</th>
 *      <th>L</th>
 *      <th>PCT</th>
 *      <th>GB</th>
 *      <th className="standings__sec-stat">Home</th>
 *      <th className="standings__sec-stat">Road</th>
 *    </tr>
 *    <tr>
 *      <td className="standings__team">
 *        <Link to={`/teams/${Key}`}>
 *          <img src={espnLogo(`${Key}`, 36)} alt={`${City} ${Name} Logo`} />
 *          <figcaption className="standings__team--arbv">{Key}</figcaption>
 *          <figcaption className="standings__team--city">{City} </figcaption>
 *          <figcaption className="standings__team--full">{Name}</figcaption>
 *        </Link>
 *       </td>
 *      <td>{Wins}</td>
 *      <td>{Loss}</td>
 *      <td>{GB}</td>
 *      <td className="standings__sec-stat">{HomeWins}</td>
 *      <td className="standings__sec-stat">{HomeLoss}</td>
 *    </tr>
 *  </table>
 *
 */

.table--standings {

	tbody {
		tr {
			&:hover {
				background-image: linear-gradient($c-gray-light-30, $c-gray-light-30);
			}

			&.active-team {
				font-weight: 600;
			}
		}
	}

	th,
	td {
		color: $c-dark-85;
		display: table-cell;
		padding: $spacing-small;
		text-align: center;
		vertical-align: middle;

		&:first-child {
			text-align: left;
		}

		&.secondary-stat {
			@include media-breakpoint-down(sm) {
				display: none;
			}
		}
	}

	.standings {
		&__sec-stat {
			@include media-breakpoint-down(sm) {
				display: none;
			}
		}

		&__team {
			a {
				color: inherit;

				&:hover {
					text-decoration: underline;
				}

				>* {
					vertical-align: middle;
				}
			}

			img {
				@include size($spacing-base);
				margin-right: $spacing-xsmall;
			}

			&--arbv,
			&--city,
			&--full {
				display: inline;
			}

			&--arbv {
				@media (min-width: 400px) {
					display: none;
				}
			}

			&--full {
				@media (max-width: 399px) {
					display: none;
				}
			}

			&--city {
				@include media-breakpoint-down(sm) {
					display: none;
				}
			}
		}
	}
}






.table--roster {

	tr {
		@include media-breakpoint-down(sm) {
			border-bottom: $bd-table;
		}
	}

	th {
		display: none;
	}

	td {
		display: inline-block;

		@include media-breakpoint-down(sm) {
			border: 0;
		}

		&::before {
			color: $c-table-heading;
			content: attr(data-th)": ";
			display: block;
			font-weight: normal;

			@include media-breakpoint-up(sm) {
				display: none;
			}
		}
	}

	th,
	td {
		padding: $spacing-small;
		text-align: left;
		vertical-align: middle;
		white-space: nowrap;

		@include media-breakpoint-up(sm) {
			display: table-cell;
		}

		&:nth-child(1) {
			background: lighten($c-gray--18, 10);
			left: 0;
			position: sticky;
			z-index: 1;


			&::after {
				@include position(absolute, 0 null 0 100%);
				background: linear-gradient(90deg, $c-black-20, transparent);
				content: "";
				opacity: 0;
				pointer-events: none;
				transition: opacity .2s ease-out;
				width: 6px;
				z-index: 1;
			}
		}
	}

	// Player Name & Image
	&__avatar {
		&::before {
			display: none !important;
		}

		>figure {
			@include size(80px);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			display: inline-block;
			vertical-align: middle;

			@include media-breakpoint-up(sm) {
				@include size(40px);
				margin-right: $spacing-xsmall;
			}

			@include media-breakpoint-up(xl) {
				@include size(60px);
			}
		}
	}
}


// Table Wrap for Horizontal Scrolling
.table--wrap {
	overflow-x: scroll;

	&::after {
		@include position(absolute, 52px 0 0 null);
		background: linear-gradient(270deg, $c-black-20, transparent);
		content: "";
		opacity: 0;
		pointer-events: none;
		position: absolute;
		transition: opacity .2s ease-out;
		width: 6px;
		z-index: 1;
	}

	&.isScrolling {
		&::after {
			opacity: 1;
		}

		.table--roster {

			th,
			td {
				&:nth-child(1) {

					&::after {
						opacity: 1;
					}
				}
			}
		}
	}
}
