/**
 *  TABLE
 *
 *  Markup:
 *  -------
 *
 *  <table class="table">
 *    <tr>
 *      <th>First column</th>
 *      <th>Second column</th>
 *      <th>Third column</th>
 *    </tr>
 *    <tr>
 *      <td="First column">Blue</td>
 *      <td="Second column">One</td>
 *      <td="Third column">My life fades</td>
 *    </tr>
 *  </table>
 *
 */


.table {
  background-color: $bgc-table;
  border: $bd-table;
  border-collapse: collapse;
  color: $c-table-text;
  max-width: $mwi-table;
  width: $w-table;

  th,
  td {
    border-bottom: $bd-table;
    padding: $p-table-cell;
    position: relative;
  }

  thead {
    border-bottom: $bd-table;
  }

  th {
    background-color: $bgc-table-header;
    color: $c-table-heading;
    font-size: $fz-table-heading;
    font-weight: $fw-table-heading;
    padding: $p-table-heading;
    white-space: nowrap;
  }
}

/**
 *  TABLE RESPONSIVE
 *
 *  Markup:
 *  -------
 *
 *  <table class="table table--responsive">
 *    <tr>
 *      <th>First column</th>
 *      <th>Second column</th>
 *      <th>Third column</th>
 *    </tr>
 *    <tr>
 *      <td data-th="First column">Blue</td>
 *      <td data-th="Second column">One</td>
 *      <td data-th="Third column">My life fades</td>
 *    </tr>
 *    <tr>
 *      <td data-th="First column">Green</td>
 *      <td data-th="Second column">Two</td>
 *      <td data-th="Third column">
 *        when the world was powered by the black fuel... and the desert
 *        sprouted great cities of pipe and steel.
 *      </td>
 *    </tr>
 *    <tr>
 *      <td data-th="First column">Yellow</td>
 *      <td data-th="Second column">Three</td>
 *      <td data-th="Third column">
 *        A whirlwind of looting, a firestorm of fear.
 *      </td>
 *    </tr>
 *  </table>
 *
 */

.table--responsive {

  th {
    display: none;
  }

  td {
    @include media-breakpoint-down(sm) {
      border: 0;
    }

    display: block;

    &::before {
      @include media-breakpoint-up(sm) {
        display: none;
      }

      color: $c-table-heading;
      content: attr(data-th)': ';
      display: block;
      font-weight: normal;
    }

    &:first-child {
      border-top: $bd-table;
    }
  }

  th,
  td {
    @include media-breakpoint-up(sm) {
      border-top: $bd-table;
      display: table-cell;
    }

    text-align: left;
  }
}


// Standings Table

.table-standings {
  margin-bottom: $spacing-base;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);

  thead {
    text-transform: uppercase;
  }

  tr {
    height: $spacing-huge;
    vertical-align: middle;
  }

  th,
  td {
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    color: rgba(0, 0, 0, 0.87);
    display: table-cell;
    font-size: 14px;
    font-weight: 400;
    padding: $spacing-xsmall $spacing-huge $spacing-xsmall $spacing-base;
    text-align: left;
    vertical-align: inherit;
  }

  td {
    flex-direction: row-reverse;
  }
}


.standings__team {

  // &--city,
  // &--full {}

  >a {
    color: rgba(0, 0, 0, 0.87);
    display: inline-block;
    height: $spacing-base;
    line-height: 1;
    white-space: nowrap;
  }

  img {
    @include size($spacing-base);
    vertical-align: middle;
    margin-right: $spacing-xsmall;
  }

  figcaption {
    vertical-align: middle;
    display: inline;
  }

  &--arbv {
    display: none !important;
  }
}
