// sass-lint:disable class-name-format

.Calendar {
	background: $c-white;
	border-collapse: collapse;
	margin: 1rem auto 0;
	padding: 0;

	th {
		background: $c-gray-x-light;
		padding: 0.5rem 1rem;
		text-align: center;
	}

	td {
		padding: 0.25rem;
		text-align: center;
	}

	.month-header {
		border-bottom: 1px solid $c-white;
	}

	.Day {
		cursor: pointer;

		.Day-inner {
			background: none transparent;
			border-radius: 50%;
			cursor: pointer;
			display: inline-block;
			height: 2.5rem;
			line-height: 2.5rem;
			padding: 0;
			width: 2.5rem;
		}

		&.weekend {
			background: $c-gray-x-light;
			color: $c-black;
		}

		&.other-month {
			color: $c-gray-light;
			font-style: italic;
		}

		button {
			&.Day-inner {
				border: 0;
			}
		}

		a {
			&.Day-inner {
				color: inherit;
			}
		}

		&.today {
			.Day-inner {
				background: #fafad2;
				color: $c-black;
			}
		}

		&:hover {
			.Day-inner {
				background: $c-light;
				color: $c-black;
			}
		}

		&.selected {
			.Day-inner {
				background: $c-primary;
				color: $c-white;
			}
		}
	}

	.nav {
		.nav-inner {
			background: none transparent;
			border: 0;
			cursor: pointer;
		}
	}
}
