.team-roster {
  &__holder {
    border: 1px solid #e4e7ed;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
  }

  &__img {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;

    >a {
      display: block;
      position: relative;

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity .3s ease;
        background-color: #171d21;
      }

      img {
        display: block;
      }

      .btn-fab {
        display: block;
        position: absolute;
        right: 0;
        width: 50px;
        height: 50px;
        overflow: hidden;
        background-color: #fc0;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        margin: -25px 0 0 -25px;
        z-index: 2;
        transform: scale(0);
        transition: all .4s cubic-bezier(.175, .885, .32, 1.275);

        &::after,
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #fff;
          transition: transform .25s ease;
        }

        &::before {
          width: 17px;
          height: 3px;
        }

        &:after {
          width: 3px;
          height: 17px;
        }
      }
    }
  }


  &__content {
    padding: 24px;
    min-width: 0;
  }

  &__member-header {
    display: flex;
    align-items: center;
  }

  &__member-number {
    font-size: 40px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: -.02em;
    color: #ffdc11;
    line-height: 1em;
    padding-right: .12em;
  }

  &__member-name {
    font-size: 12px;
    margin-bottom: 0;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__member-first-name,
  &__member-last-name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__member-last-name {
    font-size: 20px;
    line-height: 1.1em;
    letter-spacing: 0;
  }

  &__member-subheader {
    padding-top: 3px;
  }

  &__member-position {
    font-size: 10px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: -.02em;
    line-height: 1.2em;
    display: block;
    font-weight: 400;
  }

  &__member-details {
    padding: 20px 0 0;
    margin: 0;

    &-item {
      font-size: 11px;
      text-transform: uppercase;
      font-family: Montserrat, sans-serif;
      font-weight: 700;
      letter-spacing: -.02em;
      line-height: 1.2em;
      text-transform: none;
      color: #31404b;
      display: inline-block;
      padding: 0 13px 0 0;

      .item-title {
        font-weight: 400;
        color: #9a9da2;
        text-transform: uppercase;
      }
    }
  }
}
