.widget__content {

  font-size: 14px;
  line-height: 22px;

  background-color: #27313b;
  color: #fff;
  height: 158px;
  overflow: hidden;
  position: relative;
  padding: 0 20px 0 140px;
  background-image: radial-gradient(at 0 0, hsla(0, 0%, 100%, .3), transparent);
  border-radius: 4px;

  border-radius: 0;
  border-top: none;


  background-color: #ffdc11;
  background-image: linear-gradient(180deg, #ffdc11, #f29400);

  @media (min-width: 375px) {
    padding-left: 158px;
  }

  @media (min-width: 992px) {
    height: 156px;
    padding-left: 50%;
  }

  @media (min-width: 1199px) {
    height: 198px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {

    margin: 0 0 .75em;
    font-weight: 700;
    line-height: 1.1em;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    letter-spacing: -.02em;
  }
}


.widget-player {

  &__team-logo {
    display: block;
    position: absolute;
    left: -25%;
    top: -25%;
    width: 80%;
    height: auto;
    opacity: .1;
    filter: grayscale(1);
    z-index: 1;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__photo {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 50%;
    z-index: 2;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__header {
    padding-top: 20px;
    margin-bottom: 8px;
    position: relative;
    z-index: 2;

    @media (min-width: 375px) {
      padding-top: 20px;
      margin-bottom: 8px;
      position: relative;
      z-index: 2;
    }

    @media (min-width: 992px) {
      padding-top: 14px;
      margin-bottom: 0;
    }

    @media (min-width: 1199px) {
      padding-top: 16px;
      margin-bottom: 10px;
    }
  }

  &__number {
    font-size: 36px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: -.02em;
    line-height: 1em;
    float: left;
    margin-right: .1em;
    margin-left: -.5em;

    @media (min-width: 992px) {
      font-size: 42px;
      margin-left: -.8em;
    }

    @media (min-width: 1199px) {
      font-size: 56px;
    }
  }

  &__name {
    font-size: 14px;
    line-height: 1em;
    margin-bottom: 0;
    color: #fff;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    top: 4px;
    z-index: 1;

    @media (min-width: 992px) {
      font-size: 18px;
    }

    @media (min-width: 1199px) {
      font-size: 24px;
      top: 6px;
    }
  }

  &__first-name,
  &__last-name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__last-name {
    color: #31404b;
  }

  &__content {
    background-color: #27313b;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    padding: 12px 0;

    &-inner {
      width: 100%;
      padding-left: 140px;
      padding-right: 24px;

      @media (min-width: 375px) {
        padding-left: 50%;
      }

      @media (min-width: 992px) {
        padding-left: 160px;
      }
    }
  }

  &__stat {
    float: left;
    width: 33.3%;
    text-align: center;

    &-label {
      font-size: 8px;
      margin-bottom: .5em;
      line-height: 1.2em;
      color: #fff;
      font-weight: 400;

      @media (min-width: 992px) {
        font-size: 8px;
        margin-bottom: 1em;
      }

      @media (min-width: 1199px) {
        font-weight: 700;
        font-size: 10px;
      }
    }

    &-number {
      color: #ffdc11;
      line-height: 1.2em;
      font-size: 12px;
      text-transform: uppercase;
      font-family: Montserrat, sans-serif;
      font-weight: 700;
      letter-spacing: -.02em;

      @media (min-width: 992px) {
        font-size: 18px;
      }
    }

    &-legend {
      font-size: 7px;
      text-transform: uppercase;
      font-family: Montserrat, sans-serif;
      font-weight: 700;
      letter-spacing: -.02em;
      color: #9a9da2;
      line-height: 1.2em;
      color: #fff;

      @media (min-width: 992px) {
        font-size: 8px;
      }
    }
  }

  &__footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffdc11;
    z-index: 1;
    text-align: right;
    line-height: 10px;

    &-txt {
      display: inline-block;
      position: relative;
      background-color: #182027;
      color: #fff;
      padding: 0 24px;
      line-height: 20px;
      font-size: 8px;
      text-transform: uppercase;
      font-family: Montserrat, sans-serif;
      font-weight: 700;
      letter-spacing: -.02em;
      background-color: #27313b;

      @media (min-width: 992px) {
        font-size: 9px;
        padding-left: 26px;
      }

      @media (min-width: 1199px) {
        font-size: 10px;
        line-height: 30px;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 20px;
        background-color: #ffdc11;
        left: -10px;
        transform: skew(-30deg);
      }
    }
  }
}
