//colors
$c-primary: #1a8fff;
$c-info: #53cbf1;

$border-gradient: linear-gradient(45deg, $c-primary 0, $c-info 40%);


.calendar {
	background: $c-white;
	border: $bd-medium;
	color: $c-gray;
	display: block;
	position: relative;
	width: 100%;

	button {
		border: 0;
		padding: 0;
	}

	&__header {
		@include padding($spacing-base null);
		background: $c-gray-x-dark;
		color: $c-gray-x-light;

		.text-uppercase {
			font-size: 16px;
		}

		.btn-icon {
			@include padding(null 10px);
			cursor: pointer;
			height: 100%;
			transition: .15s ease-out;

			&:first-of-type {
				margin-left: $m-medium;
			}

			&:last-of-type {
				margin-right: $m-medium;
			}

			&:hover {
				svg {
					fill: $c-primary;
					transform: scale(1.75);
					transition: .25s ease-out;
				}
			}

			svg {
				display: block;
				fill: $c-light;
				height: $fz-small;
				transition: .15s ease-out;
			}
		}
	}

	&__row {
		border-bottom: $bd-medium;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;

		&--days {
			@include padding($p-medium null);
			color: $c-gray-dark;
		}
	}

	&__col {
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%;
	}

	&__cell {
		background: $c-white;
		cursor: pointer;
		height: 7em;
		overflow: hidden;
		position: relative;
		transition: .25s ease-out;

		&::before {
			@include position(absolute, 0 null null 0);
			@include size(0, 100%);
			background-color: transparent;
			content: "";
			transition: inherit;
		}

		&:hover {
			background: $c-off-white;
			transition: .5s ease-out;

			.calendar__cell--bg {
				opacity: .05;
				transition: .5s ease-in;
			}
		}

		&:last-child {
			border-right: 0;
		}

		&--number {
			@include position(absolute, .75em .75em null null);
			font-size: 82.5%;
			font-weight: $fw-bold;
			line-height: 1;
		}

		&--bg {
			@include position(absolute, -.05em -.05em null null);
			color: $c-primary;
			font-size: 8em;
			font-weight: $fw-bold;
			letter-spacing: -.07em;
			line-height: 1;
			opacity: 0;
			transition: .25s ease-out;
		}

		&.cell-selected {
			border-image: $border-gradient;
			border-image-slice: 1;

			&::before {
				background-image: $border-gradient;
				width: 10px;
			}

			.calendar__cell--bg {
				opacity: .05;
				transition: .5s ease-in;
			}
		}

		&.cell-disabled {
			color: $c-gray-x-light;
			pointer-events: none;
		}
	}

	&__body & {
		&__row {
			&:last-child {
				border-bottom: 0;
			}
		}

		&__col {
			flex-basis: calc(100% / 7);
			flex-grow: 0;
			width: calc(100% / 7);
		}

		&__cell {
			border-right: $bd-medium;
		}
	}
}
