/**
 *  CARD
 *
 *  Markup:
 *  -------
 *
 *  <div class="card">
 *    <h5 class="card__headline">[...]</h5>
 *    [...]
 *    <footer class="card__footer">[...]</footer>
 *  </div>
 *
 */

.card {
	background-color: $bgc-card;
	border: $bd-medium;
	border-radius: $bdr-base;
	box-shadow: $box-shadow-card;
	margin-bottom: $spacing-base;

	&__headline {
		@include padding($p-big 12px);
		border-bottom: $bd-medium;
		font-size: 16px;
		font-weight: $fw-semi-bold;
		line-height: 1;
		text-transform: uppercase;
	}

	&__footer {
		font-size: $fz-small;
		font-weight: $fw-semi-bold;
		padding: $spacing-small;
		text-align: center;
	}
}
