$headshot--height: 60px;
$headshot--width: 51px;
$player-card--width: 200px;
$field-width: 1152px;
$field-height: 462.316px;

.depth-chart {
	background: transparent url("http://mlb.mlb.com/images/team/depth_chart/y2010/depthchart_bg.jpg") no-repeat;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	height: $field-height;
	position: relative;
	width: 100%;

	&__position {
		font: 12px Arial, Helvetica, sans-serif;
		position: absolute;
		width: $player-card--width;

		&--image {
			background: transparent url("http://mlb.mlb.com/images/team/depth_chart/y2010/player_bg.png") no-repeat;
			float: left;
			height: $headshot--height;
			width: $headshot--width;

			img {
				height: $headshot--height - 10px;
				padding: 1px 0 0 3px;
				width: $headshot--width - 10px;
			}
		}

		ul {
			float: left;
			margin: 0;
			overflow: hidden;
			position: relative;
			top: -1px;
			width: $player-card--width - $headshot--width;

			li {
				margin-bottom: 0;
			}
		}

		&--header {
			font-size: 12px;
			font-weight: bold;
		}

		&--3b,
		&--c {
			ul {
				text-align: right;
			}

			.depth-chart__position--image {
				float: right;
			}
		}

		&--bp,
		&--cl {
			left: 23px;
		}

		&--lf,
		&--rf {
			top: 60px;
		}

		&--3b,
		&--sp,
		&--ss {
			top: 188px;
		}

		&--lf {
			left: 25%;
			top: 32%;
		}

		&--cf {
			left: 45%;
			top: 22%;
		}

		&--rf {
			left: 65%;
			top: 32%;
		}

		&--3b {
			right: 61%;
			top: 65%;
		}

		&--ss {
			right: 45.5%;
			top: 50%;
		}

		&--2b {
			left: 54%;
			top: 50%;
		}

		&--1b {
			left: 61%;
			top: 65%;
		}

		&--c {
			// left: 146px;
			// top: 317px;
			left: 39%;
			top: 87.5%;
		}

		&--dh {
			left: 61%;
			top: 87.5%;
		}

		&--sp {
			left: 45%;
			top: 65%;
		}

		&--bp,
		&--cl {
			left: 28.2%;
			width: 210px;
		}

		&--bp {
			top: 82.8%;
		}

		&--cl {
			top: calc(100% + 50px);
		}
	}
}
