$player-card--width: 200px;
$player-card--width--half: $player-card--width / 2;
$field-width: 1152px;
$field-height: 462.316px;

.depth-chart {
	background: transparent url("http://mlb.mlb.com/images/team/depth_chart/y2010/depthchart_bg.jpg") no-repeat;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	height: $field-height;
	position: relative;
	width: 100%;

	&__bullpen-wrap {
		left: 28.2%;
		position: absolute;
		top: 87%;
	}

	&__bullpen-wrap,
	&__position>div {
		background: $c-off-white;
		border-radius: $bdr-rounded-corners;
		display: inline-block;
		padding: $p-small;
	}

	&__position {
		font-size: $fz-small;
		line-height: $lh-small;
		position: absolute;
		width: $player-card--width;

		&--image {
			@include size(40px);
			border-radius: $bdr-circle;
			float: left;
			margin-right: $m-xsmall;
		}

		ul {
			@include margin(0);
			float: left;
			position: relative;
			text-align: left;

			li {
				margin-bottom: 0;
			}
		}

		&--header {
			font-weight: bold;
		}

		&--3b,
		&--c {
			ul {
				float: right;
				margin-left: 0;
				margin-right: $m-xsmall;
				text-align: right;
			}

			.depth-chart__position--image {
				float: right;
			}
		}

		&--sp,
		&--c,
		&--lf,
		&--cf,
		&--rf {
			text-align: center;
		}

		&--bp,
		&--cl {
			position: relative;
			width: auto;

			>div {
				border-radius: unset;
				padding: 0;
			}
		}

		&--bp {
			padding-bottom: $p-small;
		}

		&--lf,
		&--rf {
			top: 30%;
		}

		&--c,
		&--dh {
			top: 87.5%;
		}

		&--2b,
		&--ss {
			top: 50%;
		}

		&--1b,
		&--3b,
		&--sp {
			top: 65%;
		}

		&--1b,
		&--dh {
			left: 61%;
		}

		&--c,
		&--sp {
			left: 41%;
		}

		&--lf {
			left: unquote("calc(30% - ") $player-card--width--half unquote(")");
		}

		&--cf {
			left: unquote("calc(50% - ") $player-card--width--half unquote(")");
			top: 22%;
		}

		&--rf {
			left: unquote("calc(70% - ") $player-card--width--half unquote(")");
		}

		&--3b {
			right: 61%;
			text-align: right;
		}

		&--ss {
			right: 45.5%;
		}

		&--2b {
			left: 54%;
		}
	}
}
