$custom-grid--thirds: (columns: 3,
	gutter: 10px,
);


@media screen and (min-width: 1024px) {

	.dropdown {

		&__wrap {
			@include position(absolute, 100% null null);
			@include padding(10px);
			background: $c-white;
			box-shadow: $box-shadow-card;
			font-size: 14px;
			overflow: hidden;
			white-space: nowrap;
			z-index: 99;
		}

		&__button {
			opacity: 1 !important;
			position: relative;

			span {
				opacity: .75;
			}

			&:hover {
				span {
					opacity: 1;
				}
			}


			&::after {
				@include position(absolute, null null -1px 50%);
				@include triangle("up", 24px, 12px, $c-white);
				content: "";
				margin-left: 24px * -.5;
				opacity: 0;
			}

			&__is-open {

				span,
				&::after {
					opacity: 1 !important;
				}
			}
		}

		&__primary,
		&__content {
			display: block;
			float: left;
			// padding: 0 10px;
		}

		&__primary {
			margin-right: 10px;

			li {
				margin-bottom: 0;
			}

			a {
				border-radius: 3px;
				color: $c-gray;
				display: block;
				line-height: 1.2;
				min-width: 200px;
				padding: 12px 10px;
				position: relative;

				&:hover {
					background-color: $bada55;
					color: $c-black;
				}
			}

		}

		&__content {
			color: $c-black;
			min-width: 660px;


			@media screen and (min-width: 1024px) {
				background: $c-off-white;
				border-radius: 8px;
				overflow: hidden;
			}

			h6 {
				color: $c-gray-medium;
				font-weight: $fw-semi-bold;
				text-transform: $tt-button;
			}

			nav {
				@include padding(3px null);

				>a {
					@include padding(3px null);
					color: $c-gray;

					&:hover {
						background-color: #fff;
						border-radius: 4px;
					}

					>img {
						@include size(24px);
						margin-left: 3px;
						margin-right: 8px;
					}

					>* {
						vertical-align: middle;
					}
				}
			}
		}

		&__division {
			@include grid-column(1, $custom-grid--thirds);
			@include margin(10px null);
		}
	}
}

.team-city {
	display: none;

	@media screen and (min-width: 1024px) {
		display: inline;
	}
}
