@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap-grid";
@import "~normalize.css";
@import "./calender";

ul {
  padding: 0;
  list-style: none;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.navbar-nav .dropdown-menu {
  @media screen and (min-width: 1024px) {
    min-width: 1024px;
  }
}

.team-city {
  display: none;

  @media screen and (min-width: 1024px) {
    display: inline;
  }
}

li.game {
  border-bottom: 1px solid #dcdddf;
  list-style: none;
  margin: 0;

  > a {
    background: #f9f9fb;
    display: table;
    padding: 10px 8px;
    width: 100%;

    &:hover {
      background: #fff;
    }

    .opponent-logo {
      display: table-cell;
      height: 20px;
      margin: 0;
      vertical-align: middle;
      width: 20px;

      > img {
        display: block;
        width: 20px;
      }
    }
    .opponent-info {
      color: #48494a;
      display: table-cell;
      font-size: 11px;
      font-weight: 600;
      padding-left: 6px;
      vertical-align: middle;
      width: 57%;

      &__arbv {
        @media (min-width: 768px) {
          display: none;
        }
      }

      &__full {
        @media (max-width: 767px) {
          display: none;
        }
      }
    }

    .game-meta {
      color: #48494a;
      display: table-cell;
      font-size: 11px;
      font-weight: 600;
      padding-top: 2px;
      text-align: right;
      vertical-align: middle;

      &__result {
        font-weight: 700;
        text-align: left;
        width: 14px;
        display: inline-block;

        &.loss {
          color: #d00;
        }

        &.win {
          color: #094;
        }
      }

      &__score {
        display: inline-block;
        width: 44px;
        white-space: nowrap;
      }

      // > * {
      //   display: block;
      // }
    }
  }
}
