/**
 *  ALIGNERS
 */

// container
.aligner {
	display: flex;

	&__grow {
		flex-grow: 1;
	}

	&__space {
		&--between {
			justify-content: space-between;
			width: 100%;
		}

		&--around {
			justify-content: space-around;
			width: 100%;
		}
	}

	&__center {
		&--vertical {
			align-items: center;
		}

		&--horitzontal {
			justify-content: center;
		}
	}

	&__content {
		&--start {
			justify-content: flex-start;
		}

		&--end {
			justify-content: flex-end;
		}
	}

	// item
	&__item {
		&--top {
			align-self: flex-start;
		}

		&--bottom {
			align-self: flex-end;
		}
	}
}
